@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans+Condensed:wght@300&display=swap');

:root {
    --prim-clr: #ffffff;
    --sec-clr: #2b5797;
    --accent-clr:#2e8540;
     --prim-font:'Montserrat', sans-serif;
     --sec-font: 'Open Sans Condensed', sans-serif;
     margin: 0;
     padding: 0;
}

ul {
  display: table;
  margin: 0 auto;
  font-size: 3.5rem;
  margin-top: 2rem;
  font-family: var(--sec-font);
  list-style: none;
  background-color: var(--sec-clr);
  color: var(--prim-clr);
  border-radius: 1rem;
  border: var(--accent-clr) solid 5px;
}

h1 {
    font-family:var(--prim-font);
    font-size: 4rem;
    text-align: center;
    background-color: var(--sec-clr);
    color: var(--prim-clr);
    border: var(--accent-clr) solid 5px;
    border-radius: 1rem;
}

#asmt {
  font-size: 2.75rem;
}

::-webkit-scrollbar {
  display: none;
}

/* Style the navbar */
.nav-bar {
  overflow: hidden;
  background-color: var(--sec-clr);
  font-family: var(--sec-font);
  border: 5px solid var(--accent-clr);
  border-radius: 1rem;
}

/* Navbar links */
.nav-bar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  cursor: default;
  font-size: 1.5rem;
  text-align: center;
}

.nav-bar a:hover {
    background-color: #27497c;
}



@media screen and (max-width: 600px) {
  .nav-bar a {
    font-size: .75rem;
    text-align: center;
  }

  ul {
    font-size: 2.5rem;
  }
}


